@charset "UTF8";
@font-face {
	font-family: 'SF Pro Text';
	src: url("fonts/SF-Pro-Text-Regular.otf");
}
/* Corpo do Site */
body {
	margin: 5px;
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #44476a;
	background-color: #e6e7ee;
	text-align: center;
}
/* Comportamento dos Links */
a:link, a:active, a:visited, a:hover {
	color: #333;
	text-decoration: none;
	position: relative;
}
/* Comportamento das Imagens */
img {
	max-width: 100%;
	height: auto;
}
/* FORMATAÇÃO DO CABEÇALHO */
.mainHeader {
	height: 3em;
	letter-spacing: 1px;
}
.mainHeader h1 span {
	padding: 10px 30px;
	border: 0.5px solid transparent;
	border-radius: 6px;
	box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}
/* Formatação das Tabs */
.tab {
	overflow: hidden;
}
.tablinks {
	color: #333;
	cursor: pointer;
}
.tabcontent {
	display: none;
}
/* FORMATAÇÃO DA BARRA LATERAL */
.mainAside {
	height: 4.5em;
}
.mainAside ul {
	list-style-type: none;
	margin: 0%;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.mainAside ul li {
	width: 100%;
	margin: 0 1vw;
}
.mainAside ul li a {
	display: block;
	font-size: 80%;
	padding: 5px 0;
	border-radius: 6px;
	border: 0.5px solid transparent;
	box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}
.mainAside ul li a:hover, .mainAside ul li a.active, #Adicionar div input {
	background-color: #dee3e6;
	box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
.material-icons.md-22, .material-icons-outlined.md-22 {
	font-size: 22px;
}
/* FORMATAÇÃO DO CONTEÚDO */
main {
	min-height: 100vh;
  min-height: calc(100vh - (11em + 35px));
  min-height: -moz-calc(100vh - (11em + 35px));
  min-height: -webkit-calc(100vh - (11em + 35px));
  position: relative;
	/* Calc:
	header: 3em (+10px margin) + aside: 4.5 (+10px margin) + footer: 3.5 (+5px margin) = 11em + 35px
	*/
}
.mainContent #Início {
	min-height: 285px;
	background-image: url("img/shelfleft.png"), url("img/shelfright.png"), url("img/shelfcenter.png");
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: top left, top right, 240px 0;
/* Formatação das Capas dos Livros */
	padding: 0 30px 15px 30px;
	border-radius: 6px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#Início figure {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin: 0 30px;
	height: 143.5px;
	max-width: 80px;
}
/* Formatação das Legendas */
#Início figure figcaption {
	visibility: hidden;
	width: 150px;
	background: rgba(0,0,0,0.8);
	color: #ffffff;
	font-size: 12px;
	border-radius: 6px;
	padding: 5px;
/* Posição do Tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -80px;
}
/* Seta da Legenda */
#Início figure figcaption::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
#Início figure:hover figcaption {
	visibility: visible;
}
/* FORMATAÇÃO DA ABA ADICIONAR */
#Adicionar div {
	display: flex;
	justify-content: center;
	width: 100%;
}
#Adicionar div input {
	overflow: visible;
	outline: 0;
	width: 70%;
	padding: 10px;
	border-radius: 18px;
	background-clip: padding-box;
	border: 0.5px solid #D1D9E6;
}
/* FORMATAÇÃO DA ABA AMIGOS */
section#Amigos {
	justify-content: center;
}
/* FORMATAÇÃO DA ABA AJUSTES */
section#Ajustes {
	justify-content: center;
}
/* FORMATAÇÃO DO RODAPÉ */
.mainFooter {
	height: 3.5em;
	border-radius: 6px;
}
.mainFooter, .mainFooter a {
	background: #1f3c58;
	font-size: 9pt;
	color: #ebebeb;
	line-height: 20px;
}
.mainFooter a:hover {
	text-decoration: underline;
}
/* Responsividade */
@media all and (max-width: 768px) {
	.mainHeader h1 span { font-size: smaller; }
	.mainAside ul li { width: 20%; margin-bottom: 0%; }
}