{% extends "layout.html" %}

{% block main %}
<article class="mainContent">

  <!-- Estante Principal -->
  <section id="Início" class="tabcontent">
    {% for livro in livros %}
    <figure>
      <a><img src="{{ livro.thumbnail }}"></a>
      <a href="/remove/{{ livro.book_id }}" class="dropdown">REMOVER</a>
      <figcaption>{{ livro.title }}</figcaption>
    </figure>
    {% endfor %}
  </section>

  <!-- Aba Adicionar -->
  <section id="Adicionar" class="tabcontent">
    <form action="/search" method="POST">
      <input type="text" id="search" name="seek" placeholder="Pesquise por título, autor, editora, lançamento, ISBN..." />
      <button type="submit">Buscar</button>
    </form>
    <div id="result">
      {% for infobook in infobooks %}
      <figure>
        <a href="/add/{{ infobook['book_id'] }}" class="dropdown">ADICIONAR</a>
        <a><img src="{{ infobook['thumbnail'] }}"></a>
        <figcaption>{{ infobook['title'] }}<br>{{ infobook['authors'] }}</figcaption>
      </figure>
      {% endfor %}
    </div>
  </section>

  <!-- Aba Amigos -->
  <section id="Amigos" class="tabcontent">
    <div>
      <p>Aqui vamos ver nossos amigos.</p>
      <p>Mas esta funcionalidade ainda não foi adicionada.</p>
    </div>
  </section>

  <!-- Aba Ajustes -->
  <section id="Ajustes" class="tabcontent">
    <div>
      <p>Aqui vamos colocar as coisas no lugar.</p>
      <button>
        <a href="/logout">SAIR</a>
      </button>
    </div>
  </section>
</article>
{% endblock %}