{% extends "layout.html" %}

{% block main %}
<article class="mainContent">

  <!-- Estante Principal -->
  <section id="Início" class="tabcontent">
    {% for livro in livros %}
    <figure>
      <a><img src="{{livro['thumbnail']}}"></a>
      <a href="/remove/{{livro['book_id']}}" class="dropdown">REMOVER</a>
      <figcaption>{{livro["title"]}}</figcaption>
    </figure>
    {% endfor %}
  </section>

  <!-- Aba Adicionar -->
  <section id="Adicionar" class="tabcontent">
    <form>
      <input type="text" id="search" placeholder="Pesquise por título, autor, editora, lançamento, ISBN..." />
      <button type="submit">Buscar</button>
    </form>
    <div id="result"></div>
    <br>
    <button type="button" onclick="addLivro()">Adicionar Livro</button>
  </section>

  <!-- Aba Amigos -->
  <section id="Amigos" class="tabcontent">
    <div>
      <p>Aqui vamos ver nossos amigos.</p>
      <p>Mas esta funcionalidade ainda não foi adicionada.</p>
    </div>
  </section>

  <!-- Aba Ajustes -->
  <section id="Ajustes" class="tabcontent">
    <div>
      <p>Aqui vamos colocar as coisas no lugar.</p>
      <button>
        <a href="/logout">SAIR</a>
      </button>
    </div>
  </section>
</article>
{% endblock %}

{% block script %}
<script>
  var result = document.getElementById("result");
  var cover, title, author, book_id;
  function handleResponse(response) {
    for (var i = 0; i < response.items.length; i++) {
      var item = response.items[i];
      // Cria elementos
      figure = document.createElement("figure");
      aEmp = document.createElement("a");
      aId = document.createElement("a");
      img = document.createElement("img");
      figcap = document.createElement("figcaption");
      // Recebe dados do JSON
      try {
        cover = item.volumeInfo.imageLinks.thumbnail;
        title = item.volumeInfo.title;
        author = item.volumeInfo.authors;
        book_id = item.id;
      } catch (error) {
        continue;
      } finally {
        // Atribui valores aos elementos e insere no HTML
        result.appendChild(figure);
        aEmp.appendChild(img);
        aId.innerHTML = "ADICIONAR";
        aId.href = `/add/${book_id}`;
        aId.classList.add("dropdown");
        figure.appendChild(aId);
        figure.appendChild(aEmp);
        img.src = cover;
        figcap.innerHTML += `${title}<br>${author}`;
        figure.appendChild(figcap);
      }
    }
  }
  document.querySelector("form").addEventListener("submit", function (e) {
    result.innerHTML = "";
    search = document.getElementById("search").value;
    var script = document.createElement("script");
    script.src = `https://www.googleapis.com/books/v1/volumes?q=${search}&key=AIzaSyAJGXLBDW269OHGuSblb0FTg80EmdLLdBQ&callback=handleResponse`;
    document.body.appendChild(script);
    e.preventDefault();
  });
</script>
{% endblock %}