<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	{% block style %}{% endblock %}
	<title>Minha Estante Virtual</title>
</head>

<body>
	{% block body %}{% endblock %}
</body>

</html>